$font-stack:    Helvetica, sans-serif
$primary-color: #fff
$bg: #000

*
  padding: 0
  margin: 0 auto

body
  font: 100% $font-stack
  color: $primary-color
  background: #333
  margin: 0 auto

section 
  display: flex
  justify-content: center
  align-items: center
  background: #333
  height: 90vh

